.home {
  margin: 8rem auto;
}

.backdrop {
  position: relative;
  height: 30rem;
  max-height: 30rem;
  overflow: hidden;
  background: url(assets/mountain.jpg);
  background-attachment: fixed;
  background-size: 100%;
  background-position-y: 50%;
}
.backdrop img {
  max-height: initial;
  max-width: 100%;
  background-size: 100% auto;
  transform: translate(0, -20%);
}
