.home {
  margin: 8rem auto;
}

.main {
  height: 100vh !important;
  width: 100% !important;
  max-height: 40rem;
  background: url("assets/mountain.jpg") !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
}

.main .main-contents {
  position: relative;
  top: 10rem;
  color: white;
  padding: 5rem;
}

.main-contents h3 {
  text-transform: uppercase;
  font-size: 2rem;
}
.main-contents h3 span {
  font-size: 3rem;
}
.main-contents h6 {
  text-transform: uppercase;
  font-size: 1.5rem;
}
