.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #073763ff !important;
  z-index: 999;
}

.header nav {
  margin: 0.5rem 0;
}

.nav-link {
  font-weight: bold;
}

.navbar-header {
  background-color: #073763ff;
}

.nav__brand {
  background-color: #073763ff;
  margin: 0px;
  padding: 0px;
}

div.dropdown-menu,
.show {
  background: #073763ff !important;
  transition: 0.5s ease-in-out !important;
}

button.dropdown-item:hover {
  background: transparent !important;
}

.nav__items a,
.nav__items .about {
  font-size: 1rem;
  margin: 0 0.2rem;
  font-weight: bold;
  letter-spacing: 0.01rem;
  text-transform: uppercase !important;
}

.navbar-toggler,
.navbar-toggler-icon {
  outline: none !important;
}
