.nav-tabs {
  display: flex !important;
  justify-content: center !important;
  border-bottom: none !important;
}

.nav-tabs a.nav-link {
  cursor: pointer;
  color: inherit;
}

.nav-tabs .active {
  background-color: rgb(247, 247, 247) !important;
}

.tab-content {
  background-color: rgb(247, 247, 247) !important;
  padding: 3rem;
  font-size: 1.3rem;
}
